h1,h2,h3 {
    font-family: 'Lobster', cursive;
}
p {
    font-family: 'Rambla', sans-serif;
}
.navbar-brand img {
    height: 60px;
}
.hero-image {
    height: 600px;
    position: relative;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
} 
.hero-content {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.services {
    width: 100%;
}
.services-row {
    width: 100%;
    height: 300px;
   
}
.services-col {
    height: 100%;
}
.services-col .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.services-col .image img {
    transition: 0.5s ease-in-out;
}
.services-col:hover .image img {
    transform: scale(1.5);
}
.services-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-book {
    width: 25%;
}
.experience-container {
    background-color: black;
    color: white;
    height: 100%;
}
.menu-container img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color:white;
}
.footer-col {
    height: 100%;
}

/* End Index */

/* Start About */

.cover-image {
    position: relative;
    background-image: url(Img/shop.jpg);
    height: 100vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.cover-content {
    position:absolute;
    width:200px;
    height:200px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.cover-content img {
    width: 100%;
    height: 100%;
}

/* End About  */

/* Start Contact */

.map iframe {
    width: 100%;
    height: 100%;
}
.tools {
    height: 100%;
}
.tools img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hours {
    background-color: blue;
    height: 100%;
}
.row-1 {
    height: 500px;
}
.row-2 {
    height: 500px;
}
input:placeholder-shown {
    font-style: italic;
}
.btn-book {
    width: fit-content;
}

/* End Contact  */

/* Media Queries */

/* Range 1200-1024px */
@media screen and (max-width: 1200px) {
    .row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .map {
        margin: 2em 0 2em 0;
        height: 300px;
    }
}

/* Range 1024px-776px */

@media screen and (max-width: 1024px) {
    .shave {
        display: none;
    }
    .attention-col {
        margin-top: 0 !important;
    }
    .services-row {
        padding-top: 2em;
        margin-left: auto;
    }
    .menu-row {
        flex-direction: column;
    }
    .m-item {
        margin-left: 12em;
    }
    .about-content {
        flex-direction: column;
    }
    .about-content .col-md-4:nth-child(2) {
        margin-top: 1em;
    }
    .meet-row {
        flex-direction: column;
    }
    .row-2 {
        height: 100%;
    }
    .hours,.contact {
        height: 300px;
    }
}

/* Range 776px-620px */

@media screen and (max-width: 776px) {
    .services-row {
        height: 100%;
    }
    .services-col .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        width: 600px;
        height: 300px;
    }
    .services-col .image img {
        height: 100%;
        width: 100%;
    }
    .classic h3,p:first-child {
        text-align: center;
    }
    
    .classic iframe {
        padding-bottom: 1em;
    }
    .m-item {
        margin-left: auto;
    }
    .about-content {
        margin: auto;
    }
}

/* Range 620px-- */

@media screen and (max-width: 620px) {
    .services-col .image {
        width: 320px;
    }
    .m-item {
        padding-left: 2em;
    }
}